.content {
    opacity: 0;
}

.content.active {
    opacity: 1;
}

.input-number {
    opacity: 0;
}

.input-number.active {
    opacity: 1;
}

.user-input {
    display: flex;
}

.user-input input {
    width: 20px;
}